<%= render partial: 'shared/navbar' %>
<div class="container">
  <h4>Trips</h4><br>
  <span>Upcoming reservations</span>
  <div id="bookings">
    <% @bookings.each do |booking| %>
      <%= render partial: 'shared/booking_card', locals: {booking: booking} %>
    <% end %>
  </div>
</div>
