<%= link_to "#", class: "icon-button #{active ? "active" : ""}", data: { action: "category#selectCategory", category: category}, id: "category-#{category}" do %>
  <i class="<%= icon%>"></i>
  <span><%= category %></span>
<% end %>
