<footer>
    <nav class="round bg-light">
      <ul style="list-style-type:none;" class="nav justify-content-center">
        <li class="nav-item">© 2024 Airbnb, Inc.</li>
        <li class="nav-item"> Privacidade</li>
        <li class="nav-item"> Termos</li>
        <li><a href="https://www.facebook.com/AirbnbBrasil"><i class="fa-brands fa-square-facebook"></i></a></li>
        <li><a href="https://twitter.com/airbnb_br"><i class="fa-brands fa-square-x-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/airbnb/"><i class="fa-brands fa-square-instagram"></i></a></li>
      </ul>
    </nav>
</footer>
