<div class="search-bar">
  <form>
    <div class="location-input">
      <label>Onde</label>
      <input type="text" placeholder="Buscar destinos">
    </div>
    <div>
      <label>Check in</label>
      <input type="date" placeholder="insira datas">
    </div>
    <div>
      <label>Check out</label>
      <input type="date" placeholder="insira datas">
    </div>
    <div>
      <label>Quem</label>
      <input type="text" placeholder="Hóspedes?">
    </div>
    <button type="submit"><%= image_tag "search-btn.png"%></button>
  </form>
</div>
