footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

footer li {
  position: relative;
  padding-left: 11px;
}

footer i {
  position: relative;
  padding-left: 13px;
}

footer a {
  color: inherit
}
