.search-bar{
  background: #fff;
  width: 85%;
  margin: 30px;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search-bar form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search-bar form input{
  display: block;
  border: 0;
  outline: none;
  background: transparent;
}
.search-bar form button{
  background: #ff5361;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0;
  outline: none;
  cursor: pointer;
}

.search-bar form label{
  font-weight: 600;
}
.location-input{
  flex: 1;
}
