<h1>Editing residence</h1>

<%= render "form", residence: @residence, user: @user %>
<br>

<div>
  <%= link_to "Delete this residence", residences_path(@residence), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to "Back to residences", residences_path %>
</div>
