<%= render partial: 'shared/navbar' %>
<div class="container">
  <div class="row my-3">
    <div class="col-md-1">
      <%= button_to residences_path, method: :get, class: "btn" do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %></div>
    <div class="col-md-11"><h4><strong>Nova residencia</strong></h4></div>
  </div>

  <%= render "form", residence: @residence %>

  <br>
</div>
